/*
REQUIREMENTS
* Body should remove all margin and padding.
* Main should set the padding to 16 pixels.
* Footer should set the top and bottom padding to 24 pixels and the left and right padding to 0 pixels.
* <img> should have a height of 200 pixels.
* <nav> should have a black, 1-pixel bottom border and padding all the way around of 16 pixels

STRETCH GOALS
* The anchor tags no loger have lines underneath the text.
* Every even-row in the ingredients table is now striped.
* Use the :hover pseudo-class to change colors or shadows when someone moves the mouse over different tags in your pages.
* font-family
* text-shadow
* perspective
*/

html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

nav {
    background-color: orangered;
    border-bottom: 1px solid black;
    padding: 16px;
}

nav a {
    color: aliceblue;
}

body {
    margin: 0px;
    padding: 0px;
}

main {
    padding: 16px;
}

main a {
    color: limegreen;
}

footer {
    font: italic small-caps bold 16px/2 cursive;
    background-color: olivedrab;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
}

footer div {
    padding-left: 20px;
}

img {
    height: 200px;
    box-shadow: 10px 5px 5px grey;
}

a {
    display: inline-block;
    text-decoration: none;
}

h1 {
    color: forestgreen;
}

.my-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.has-grey-background {
    background-color: darkgray;
}
nav.white-link {
    color: azure;
}

.hover-blue:hover {
    color: blue;
    text-shadow: 1px 1px 1px black;
}

.hover-green:hover {
    color: blue;
    /*text-shadow: 1px 1px 1px black;*/
}

tr:nth-child(even) {
    background-color: rgb(220,220,220);
}

.perspective {
    perspective: 500px;
}

.card {
    transition: transform 1s ease;
    &:hover {
      transform: rotateY(-10deg);
    }
}
